/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.store .store__container, .cause-select .cause-select__container .cause__cards, .brends .brends__container .visible, .offer .offer__container .popular-product-collect .card-collect__item .card__icons, .offer .offer__container .popular-product-collect .card-collect__item .btn-thing, .offer .offer__container .popular-product-collect, .offer .offer__container .product__nav, .prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .card__icons, .prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-thing, .prices .prices__container .product__card-collect .popular-product-collect, .prices .prices__container .product__nav, .collection .collection__container .collectiion--picture, .collection .collection__container .collection--title, .hero .hero__container .hero--nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff;
  font-family: "Golos Text";
  font-weight: 400;
}

.containers, .prices__container {
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar .container-fluid {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #f6f2f2;
  z-index: 1000;
}
.navbar .container-fluid .nav-item .nav-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  cursor: not-allowed;
}
.navbar .container-fluid .nav-item .hand {
  cursor: pointer;
}

.header .header__container {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  cursor: pointer;
}
.header .header__container img {
  height: 52px;
  width: 155px;
}
.header .header__container .btn {
  background-color: rgb(198, 16, 16);
  font-weight: 500;
  font-size: 14px;
  padding: 12px 15px;
  margin-left: 34px;
  margin-right: 8px;
  border-radius: 15px;
  margin: 20px 15px;
}
.header .header__container .btn img {
  width: 24px;
  height: 24px;
}
.header .header__container .header--search {
  width: 360px;
  height: 44px;
  padding: 0 20px;
  border: 1px solid #f9efef;
  border-radius: 12px;
  cursor: text;
}
.header .header__container .header--search ::-webkit-input-placeholder {
  font-size: 14px;
}
.header .header__container .header--search ::-moz-placeholder {
  font-size: 14px;
}
.header .header__container .header--search :-ms-input-placeholder {
  font-size: 14px;
}
.header .header__container .header--search ::-ms-input-placeholder {
  font-size: 14px;
}
.header .header__container .header--search ::placeholder {
  font-size: 14px;
}
.header .header__container .header--search:focus {
  outline: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 1px solid #f9efef;
}
.header .header__container .header--btn {
  padding: 9px 25px;
  margin: 0;
}
.header .header__container .inner-icons {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  line-height: 34px;
}
.header .header__container .inner-icons .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .inner-icons .box img {
  width: 24px;
  height: 24px;
}
.header .header__container .inner-icons .box span {
  font-weight: 500;
  font-size: 14px;
  color: rgb(29, 36, 47);
}

.hero .hero__container {
  margin-top: 70px;
}
.hero .hero__container .hero--nav {
  width: 100%;
  background-image: url(../image\ svg/svgexport-12.svg);
  background-repeat: no-repeat;
  background-position: 20px 10px;
  padding: 6px 15px 16px;
  font-size: 14px;
}
.hero .hero__container .hero--nav .navbar-nav {
  gap: 26px;
  margin-left: 23px;
}
.hero .hero__container .hero--nav .nav-item .nav-link {
  cursor: pointer;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 400;
  color: rgb(108, 113, 120);
}
.hero .hero__container .hero--nav .nav-item .nav-link:hover{
  color: blue;
  text-decoration: underline;
}
.hero .hero__container .hero--nav .nav-item .link {
  color: #fff;
  font-weight: 500;
}
.hero .hero__container .carousel {
  z-index: 1;
}

.collection .collection__container .collection--title {
  margin: 32px 15px 16px;
}
.collection .collection__container .collection--title h1 {
  font-size: 24px;
  color: #222222;
  font-weight: 700;
}
.collection .collection__container .collection--title p {
  font-weight: 500;
  font-size: 14px;
  color: #6c7178;
}
.collection .collection__container .collectiion--picture .picture__name {
  width: 260px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 16px;
  border: 1px solid rgb(245, 245, 246);
  border-radius: 18px;
}
.collection .collection__container .collectiion--picture .picture__name img {
  width: 48px;
  height: 48px;
  padding: 10px;
  background-color: rgba(217, 46, 21, 0.06);
  border-radius: 10px;
}
.collection .collection__container .collectiion--picture .picture__name p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 500;
  color: rgb(29, 36, 47);
}

.prices .prices__container {
  padding-left: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.prices .prices__container .product__title {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
}
.prices .prices__container .product__nav {
  width: 650px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 0px;
}
.prices .prices__container .product__nav .nav-item .nav-link {
  padding: 6px 14px;
  color: rgb(108, 113, 120);
  font-weight: 400;
  font-size: 12px;
  background-color: hsl(180, 7%, 97%);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.prices .prices__container .product__nav .nav-item .nav-link:hover{
  background-color: hsl(180, 4%, 86%);
}
.prices .prices__container .product__nav .nav-item .nav-link1 {
  padding: 6px 14px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  background-color: #222222;
  border-radius: 40px;
}
.prices .prices__container .product__card-collect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.prices .prices__container .product__card-collect .popular-product-collect {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item {
  width: 240px;
  height: 547px;
  padding: 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item:hover {
  border: 1px solid rgba(108, 113, 120, 0.15);
  border-radius: 20px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-seccess {
  width: 116px;
  height: 26px;
  background: #0e7e2e;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-danger {
  background: rgb(211, 33, 64);
  padding: 4px 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-enter::after {
  background-image: -o-linear-gradient(354deg, rgb(94, 199, 175) 1.66%, rgb(87, 90, 166) 98.13%);
  background-image: linear-gradient(96deg, rgb(94, 199, 175) 1.66%, rgb(87, 90, 166) 98.13%);
  content: "0-0-6";
  padding: 4px 10px;
  border-radius: 8px;
  position: relative;
  top: 200px;
  left: -100px;
  color: #FFF;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-thing .btn-danger {
  background: rgb(255, 0, 84);
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-thing img {
  padding-bottom: 20px;
  width: 20px;
  height: 40px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item p {
  color: rgb(108, 113, 120);
  margin-top: 8px;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 500;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item h3 {
  text-decoration: none;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-outline-primary {
  color: rgb(11, 43, 94);
  border-color: rgb(11, 43, 94);
  padding: 4px 12px;
  border-radius: 12px;
  margin-top: 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .btn-outline {
  padding: 6px 8px;
  color: rgb(217, 46, 21);
  font-weight: 500;
  font-size: 12px;
  background-color: rgb(253, 245, 243);
  border-radius: 6px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding-top: 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .inner-box img {
  width: 24px;
  height: 24px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .inner-box span {
  color: rgb(29, 36, 47);
  font-weight: 500;
  font-size: 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item a {
  font-weight: 400;
  font-size: 14px;
  color: #6c7178;
  margin-top: 12px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .star-include {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  gap: 4px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .star-include img {
  width: 16px;
  height: 16px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .star-include span {
  font-weight: 400;
  font-size: 14px;
  color: #6c7178;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .star--include {
  margin-top: 40px;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .button-danger {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  margin-top: 12px;
  width: 215px;
  background-color: rgb(217, 46, 21);
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .card__icons .card--link {
  padding: 10px 14px;
  border-radius: 10px;
  background-color: rgb(247, 248, 248);
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .card__icons .card--link img {
  color: #fff;
}
.prices .prices__container .product__card-collect .popular-product-collect .card-collect__item .card__icons .card--link1 {
  padding: 10px 14px;
  background-color: rgb(217, 46, 21);
}
.prices .prices__container .product__card-collect .display-2 {
  display: block;
  font-size: 24px;
  color: #222222;
  font-weight: 700;
}

.carousel--slide .carousel__container .carousel-item {
  border-radius: 20px;
}

.offer .offer__container {
  margin-top: 30px;
  padding-left: 12px;
}
.offer .offer__container .product__title {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
}
.offer .offer__container .product__nav {
  width: 450px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 0px;
}
.offer .offer__container .product__nav .nav-item .nav-link {
  padding: 6px 14px;
  color: rgb(108, 113, 120);
  font-weight: 400;
  font-size: 12px;
  background-color: hsl(180, 7%, 97%);
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s;
}
.offer .offer__container .product__nav .nav-item .nav-link:hover{
  background-color: hsl(180, 4%, 86%);
}
.offer .offer__container .product__nav .nav-item .nav-link1 {
  padding: 6px 14px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  background-color: #222222;
  border-radius: 40px;
}
.offer .offer__container .popular-product-collect {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.offer .offer__container .popular-product-collect .card-collect__item {
  width: 240px;
  height: 547px;
  padding: 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item:hover {
  border: 1px solid rgba(108, 113, 120, 0.15);
  border-radius: 20px;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-seccess {
  width: 116px;
  height: 26px;
  background: #0e7e2e;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-danger {
  background: rgb(211, 33, 64);
  padding: 4px 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-enter::after {
  background-image: -o-linear-gradient(354deg, rgb(94, 199, 175) 1.66%, rgb(87, 90, 166) 98.13%);
  background-image: linear-gradient(96deg, rgb(94, 199, 175) 1.66%, rgb(87, 90, 166) 98.13%);
  content: "0-0-6";
  padding: 4px 10px;
  border-radius: 8px;
  position: relative;
  top: 200px;
  left: -100px;
  color: #FFF;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-thing .btn-danger {
  background: rgb(255, 0, 84);
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-thing img {
  padding-bottom: 20px;
  width: 20px;
  height: 40px;
}
.offer .offer__container .popular-product-collect .card-collect__item p {
  color: rgb(108, 113, 120);
  margin-top: 8px;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 500;
}
.offer .offer__container .popular-product-collect .card-collect__item h3 {
  text-decoration: none;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-outline-primary {
  color: rgb(11, 43, 94);
  border-color: rgb(11, 43, 94);
  padding: 4px 12px;
  border-radius: 12px;
  margin-top: 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-outline {
  padding: 6px 8px;
  color: rgb(217, 46, 21);
  font-weight: 500;
  font-size: 12px;
  background-color: rgb(253, 245, 243);
  border-radius: 6px;
}
.offer .offer__container .popular-product-collect .card-collect__item .computer-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer .offer__container .popular-product-collect .card-collect__item .star-collect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer .offer__container .popular-product-collect .card-collect__item .computer-link {
  text-align: center;
}
.offer .offer__container .popular-product-collect .card-collect__item .computer-inner {
  text-align: center;
  margin-left: 35px;
}
.offer .offer__container .popular-product-collect .card-collect__item .computer-inner .computer-icon {
  width: 16px;
  height: 16px;
}
.offer .offer__container .popular-product-collect .card-collect__item .price-computer {
  margin-top: 30px;
  text-align: center;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-grey {
  background-color: #f1efef;
  padding-left: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 12px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}
.offer .offer__container .popular-product-collect .card-collect__item .btn-grey .price--button {
  background-color: #fff;
  padding: 11px;
  border-radius: 12px;
  margin-right: 5px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}
.offer .offer__container .popular-product-collect .card-collect__item .inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding-top: 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item .inner-box img {
  width: 24px;
  height: 24px;
}
.offer .offer__container .popular-product-collect .card-collect__item .inner-box span {
  color: rgb(29, 36, 47);
  font-weight: 500;
  font-size: 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item a {
  font-weight: 400;
  font-size: 14px;
  color: #6c7178;
  margin-top: 12px;
}
.offer .offer__container .popular-product-collect .card-collect__item .star-include {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  gap: 4px;
}
.offer .offer__container .popular-product-collect .card-collect__item .star-include img {
  width: 16px;
  height: 16px;
}
.offer .offer__container .popular-product-collect .card-collect__item .star-include span {
  font-weight: 400;
  font-size: 14px;
  color: #6c7178;
}
.offer .offer__container .popular-product-collect .card-collect__item .star--include {
  margin-top: 40px;
}
.offer .offer__container .popular-product-collect .card-collect__item .button-danger {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  margin-top: 12px;
  width: 215px;
  background-color: rgb(217, 46, 21);
}
.offer .offer__container .popular-product-collect .card-collect__item .card__icons .card--link {
  padding: 10px 14px;
  border-radius: 10px;
  background-color: rgb(247, 248, 248);
}
.offer .offer__container .popular-product-collect .card-collect__item .card__icons .card--link img {
  color: #fff;
}
.offer .offer__container .popular-product-collect .card-collect__item .card__icons .card--link1 {
  padding: 10px 14px;
  background-color: rgb(217, 46, 21);
}
.offer .offer__container .display-2 {
  display: block;
  font-size: 24px;
  color: #222222;
  font-weight: 700;
}

.brends .brends__container .brends--title {
  font-weight: 700;
  font-size: 24px;
  color: #222222;
  margin-bottom: 20px;
  margin-left: 12px;
}
.brends .brends__container .visible {
  gap: 8px;
  margin-bottom: 30px;
}
.brends .brends__container .visible .brends--visible {
  padding: 26px 80px;
  border: 2px solid rgb(245, 245, 246);
  border-radius: 20px;
  width: 300px;
}
.brends .brends__container .visible .brends--visible .visible__logo {
  width: 124px;
  height: 64px;
}

.cause-select .cause-select__container .cause__title {
  font-weight: 700;
  font-size: 24px;
  color: #222222;
  margin-bottom: 20px;
  margin-left: 12px;
}
.cause-select .cause-select__container .cause__cards {
  padding-top: 20px;
  margin: 0 12px;
  margin-bottom: 60px;
  gap: 10px;
}
.cause-select .cause-select__container .cause__cards .cause--card {
  padding: 16px;
  border: 2px solid #eee9e9;
  border-radius: 20px;
  width: 370px;
}
.cause-select .cause-select__container .cause__cards .cause--card img {
  background-color: rgb(253, 245, 243);
  padding: 12px;
  border-radius: 10px;
}
.cause-select .cause-select__container .cause__cards .cause--card h3 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  margin-top: 20px;
}
.cause-select .cause-select__container .cause__cards .cause--card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  color: rgb(108, 113, 120);
}

.store .store__container {
  background-color: rgb(241, 242, 244);
  padding-left: 12px;
  padding-right: 12px;
  height: 328px;
  position: relative;
}
.store .store__container .store--text {
  width: 40vw;
}
.store .store__container .store--text h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(34, 44, 58);
  color: #222222;
  line-height: 48px;
  margin-top: 20px;
}
.store .store__container .store--text p {
  font-weight: 400;
  font-size: 16px;
  width: 28vw;
  line-height: 24px;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  color: rgb(108, 113, 120);
}
.store .store__container .store--text .store--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.store .store__container .store-image {
  position: absolute;
  right: 12px;
  bottom:0;
}

/* FOOTER  */

.footer {
  background-color:rgb(29, 37, 48);
}

.footer__container {
  padding:64px 15px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
  gap: 10px;
  padding-right: 30px;
}
.footer__logo {
  width: 300px;
}
.footer__container .footer__logo a.logotip {
  margin-left: 30px;
  color:#fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  padding-bottom:30px;
}
.footer__container .wrapper{
  margin-top: 20px;
}
.footer .footer__container .nav-link {
  color:#FFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.footer .footer__container .nav-item .link1{
  font-size: 14px;
  margin: 10px 0;
  font-weight: 500;
}
.footer .footer__container .nav-item .link2{
  font-size: 16px;
  font-weight: 600;
}
.footer__karta {
  /* max-width: 345px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}
.footer__karta .card-link{
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-bottom: 25px;
}
.card-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.two-time-cards a{
 padding: 14px 32px; 
 background-color: rgb(34, 44, 58);
 margin: 5px;
border-radius:10px;
}
.humo-card {
  width: 80px;
  height: 40px;
}
.humo-card:hover {
 transform: scale(1.2);
}
.uzcard-card {
  width: 25px;
  height: 40px;
}
.uzcard-card:hover {
  transform: scale(1.2);
 }
.click-card {
  width: 80px;
  height: 80px;
}
.click-card:hover {
  transform: scale(1.2);
 }
.payme-card {
  width: 70px;
  height: 30px;
}
.payme-card:hover {
  transform: scale(1.2);
 }
 .visa-card:hover {
  transform: scale(1.2);
 }
 .master-card:hover {
  transform: scale(1.2);
 }
.two-time-cards .uzcard-link{
  padding: 14px 54px;
}
.two-time-cards .visa-link{
  padding: 14px 48px;
}
.two-time-cards .master-link{
  padding: 14px 46px;
}
.visa-card {
  width: 48px;
  height: 30px;
}
.master-card {
  width: 40px;
  height: 40px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start  ;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}
.list-wrap {
  margin-top: 12px;
  line-height: 30px;
  font-weight: 300;
}
.list-wrap .nav-link{
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.5;
  color: rgb(245, 245, 246);

}
.list-wrap .nav-link:hover{
  opacity: 1;
  color:white;
}
.list-wrap .links {
  opacity: 1;
  color:#fff;
  font-weight: 700;
  margin-bottom: 17px;

}


/* FOOTER BOOTONS  */
.footer-bottom{
  background-color: rgb(34, 44, 58);
  }
  .bottom__container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding:20px 12px;
    padding-bottom: 10px;
  }
  .bottom__container .bottom--text{
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .bottom__container .bottom-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 14px;
  }
  .bottom__container .bottom-icons .fa-brands{
    width: 24px;
    height: 24px;
    color:white;
  }














@media screen and (max-width: 1256px) {
  .header__container .btn {
    display: none;
  }
  .header__container .header--search {
    width: 100px;
  }
  .hero__container .hero--nav {
    display: none;
  }
  .footer .footer__karta{
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .visible4 {
    display: none;
  }
  .header--search{
    display: none;
}
  .store--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .store--text p {
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .store--button {
    margin-top: 0 auto;
    
  }
  .store-image {
    display: none;
  }
}
@media screen and (max-width:700px) {
 .collection .collection__container .collectiion--picture .picture4{
  display: none;
 }
 .store .store__container .store--button a img{
  display: none;
 }
} 