// Veriable
    $color-light: #fff;
    $color-grey:#6c7178;
    $color-dark: #222222;
    $color-dark-grey: rgb(108, 113, 120);
    $color-success: #8dc572;
    $color-error: #be6464;
    $color-warning: #f0ad4e;
    $color-info: #337ab7;
    $opacity: 0.9;
    $transition-show-delay: 0.15s;
    $transition-closing-delay: 0.15s;

    // Templeat 
    %DisplayTempleat{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // Mixin
    @mixin text{
        text-decoration: none;
        color:$color-dark;
        font-size:18px;
        font-weight: 700;
    }


    // General style 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: $color-light;
    font-family: 'Golos Text';
    font-weight: 400;
}
.containers{
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

// NAVIGATION 
.navbar {
    .container-fluid{
        position: fixed;
        left: 0;
        right: 0;
        background-color:#f6f2f2;
        z-index: 1000;
   .nav-item{
        
    .nav-link{
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        cursor: not-allowed;
    }
    .hand{
        cursor: pointer;
}
   }
}
}

// HEADER 
.header{
    .header__container{
        position: fixed;
        top: 20px;
        left: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        height: 70px;
        background-color:$color-light;
        display: flex;
        align-items:center;
        padding: 20px 15px;
        cursor: pointer;
        img{
           height: 52px;
           width: 155px;
        }
        .btn{
            img{
                width: 24px;
                height: 24px;
            }

            background-color:rgb(198, 16, 16);
            font-weight: 500;
            font-size: 14px;
            padding: 12px 15px;
            margin-left: 34px;
            margin-right: 8px;
            border-radius: 15px;
            margin: 20px 15px;
        }
        .header--search{
            width: 380px;
            height: 44px;
            padding: 0 20px;
            border: 1px solid #f9efef;
            border-radius:12px;

            cursor:text;
            ::placeholder{
                font-size: 14px;
            }
            &:focus{
                outline: none;
                outline: 2px solid transparent;
                outline-offset: 2px;
                border: 1px solid #f9efef;
            }
        }
        .header--btn{
            padding: 9px 25px;
            margin: 0;
        }
        .inner-icons{
            margin-left: 50px;
            display: flex;
            align-items:center;
            gap: 24px;
            line-height: 34px;
            .box{
                display: flex;
                flex-direction: column;
                align-items:center;
                img{
                    width: 24px;
                    height: 24px;
                }
                span{
                    font-weight: 500;
                    font-size: 14px;
                    color:rgb(29, 36, 47);
                }
            }
        }
    }
}

// HERO 
.hero{
    .hero__container{
      margin-top: 70px;
    .hero--nav{
        width: 100%;
        background-image: url(../image\ svg/svgexport-12.svg);
        background-repeat: no-repeat;
        background-position:20px 10px;
        padding: 6px 15px 16px;
        font-size: 14px;
        .navbar-nav{

           @extend %DisplayTempleat;
            gap: 26px;
            margin-left: 23px;
            
        }
         .nav-item{
            .nav-link{
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                color: rgb(108 113 120);
            }
            .link{
                color:$color-light;
                font-weight: 500;
            }
         }  
    }
    .carousel{
        z-index: 1;
    }
}
}

// COLLECT OF PRODUCT 
.collection{
    .collection__container{
        // collection title
        .collection--title{
            @extend %DisplayTempleat;
            margin: 32px 15px 16px;
            h1{
                font-size: 24px;
                color:$color-dark;
                font-weight: 700;
            }
            p{
                font-weight: 500;
                font-size: 14px;
                color:$color-grey;
            }
        }

        // collection picture 
        .collectiion--picture{

           @extend %DisplayTempleat;
            
       
        .picture__name{
            width: 260px;
            cursor: pointer;
            display: flex;
            align-items:center;
            gap: 16px;
            padding: 16px;
            border:1px solid rgb(245, 245, 246);
            border-radius:18px;
            img{
                width: 48px;
                height: 48px;
                padding: 10px;
                background-color: rgba(217,46,21,.06);
                border-radius:10px
            }
            p{
                display: flex;
                align-self: center;
                margin-top: auto;
                margin-bottom: auto;
                font-size: 16px;
                font-weight: 500;
                color:rgb(29, 36, 47 );
            }
        }
    }
        
    }
}

// PRICES OF PRODUCTS
.prices{
    .prices__container{
        padding-left: 12px;
        margin: 30px 15px;
        .product__title{
            font-size: 24px;
            font-weight: 700;
            color:$color-dark;
        }
       
        // product navbar 
      .product__nav{
        width: 650px;
        margin-top: 20px;
        margin-bottom: 15px;
        padding-left: 0px;
        @extend %DisplayTempleat;

        .nav-item{
            
           .nav-link{
            padding: 6px 14px;
            color:rgb(108 113 120);
            font-weight: 400;
            font-size: 12px;
            background-color:hsl(180, 7%, 97%);
            border-radius:40px;
           } 
           .nav-link1{
            padding: 6px 14px;
            color:$color-light;
            font-weight: 400;
            font-size: 12px;
            background-color:$color-dark;
            border-radius:40px;
           } 
        }
    }

    // product card collection 
    .product__card-collect{
            display: flex;
            flex-direction: column;
            gap: 32px;
        .popular-product-collect{
            @extend %DisplayTempleat;
            flex-wrap: wrap;
            margin-top: 12px;
            padding-left: 40px;
            padding-right: 40px;
            .card-collect__item{
                width: 214px;
                height: 547px;
                &:hover{
                    border:1px solid rgb(108, 113, 120, 0.15);
                    border-radius:20px;
                }
                padding: 12px;
                .btn-seccess{
                    width: 116px;
                    height: 26px;
                    background: #0e7e2e;
                    color:$color-light;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 4px 12px;
                }
                .btn-danger{
                    background: rgb(211, 33, 64);
                    padding: 4px 12px;
                }
                    .btn-enter::after{
                        background-image: linear-gradient(96deg, rgb(94, 199, 175) 1.66%, rgb(87, 90, 166) 98.13%);
                        content: '0-0-6';
                        padding: 4px 10px;
                        border-radius: 8px;
                        position: relative;
                        top: 200px;
                        left: -100px;
                        color:#FFF;
                    
                }
               
                p{
                    color:$color-dark-grey;
                    margin-top: 8px;
                    text-decoration: line-through;
                    font-size: 12px;
                    font-weight: 500;
                }
                h3{
                    @include text;
                }
                .btn-outline-primary{
                    color: rgb(11 43 94);
                    border-color:rgb(11 43 94) ;
                    padding: 4px 12px;
                    border-radius:12px;
                    margin-top: 12px;
                }
                .inner-box{
                    display: flex;
                    align-items:center;
                    gap: 6px;
                    padding-top: 12px;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                    span{
                        color:rgb(29, 36, 47);
                        font-weight: 500;
                        font-size: 12px;
    
                    }
                        }
                    a{
                        font-weight: 400;
                        font-size: 14px;
                        color:$color-grey;
                        margin-top: 12px;
                    }
                    .star-include{
                        display: flex;
                        align-items:center;
                        margin-top: 20px;
                        gap: 4px;
                        img{
                            width: 16px;
                            height: 16px;
                        }
                        span{
                            font-weight: 400;
                            font-size: 14px;
                            color:$color-grey;
                        }
                        
                    }
                    .star--include{
                        margin-top: 40px;
                    }
    
                    .card__icons{
                        @extend %DisplayTempleat;
                      
                        .card--link{
                            padding: 10px 14px;
                            border-radius:10px;
                            background-color:rgb(247, 248, 248);
                            img{
                                color:#fff;
                            }
                        }
                        .card--link1{
                            padding: 10px 14px;
                            background-color:rgb(217, 46, 21);
                                
                            } 
                    }
        }
        }
    .display-2{
        display: block;
        font-size: 24px;
        color:$color-dark;
        font-weight: 700;
    }
}
}

}